*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}
body{
  height:100vh;
  background:
    linear-gradient(rgba(0,0,0,0.45),rgba(0,0,0,0.45)),
    url("IMG_20260129_202517.jpg") center/cover no-repeat;
}
.logo{
  position:fixed;
  top:20px;
  right:20px;
  color:white;
  text-decoration:none;
  border:2px solid white;
  padding:10px 18px;
  border-radius:30px;
  letter-spacing:3px;
  background:rgba(0,0,0,0.3);
}
.logo:hover{
  background:white;
  color:black;
}
.center-text{
  position:absolute;
  bottom:30px;
  width:100%;
  text-align:center;
  color:#ddd;
  font-size:14px;
}
